---
const { puz } = Astro.props;
const solution = localStorage.getItem(`2025_prehunt/${puz.slug}_solution`)
---
<div id="puzindex-{name}">
  <a href="{puz.slug}"><b>{puz.title}</b></a>
  { solution && <p><br>{solution}</p> }
</div>
  
